@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(115deg, #008000 10%, #008000 90%);
}
.show-btn{
  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.show-btn, .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]{
  display: block;
}
.container{
  display: block;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #3498db;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.container .result{
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  margin-top: 20px;
}

.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

.data label{
  font-size: 18px;
}
.data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
.data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
.forgot-pass{
  margin-top: -8px;
}
.forgot-pass a{
  color: #3498db;
  text-decoration: none;
}
.forgot-pass a:hover{
  text-decoration: underline;
}
.btn{
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  
}
.btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #008000, #008000, #008000, #008000);
  transition: all 0.4s;
}
.btn:hover .inner{
  left: 0;
}
.btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.signup-link{
  text-align: center;
}
.signup-link a{
  color: #3498db;
  text-decoration: none;
}
.signup-link a:hover{
  text-decoration: underline;
}







